menu "Example Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config PAIRING_TIME
        int "Pairing time (seconds)"
        default 120
        help
            Set the pairing time in seconds. The device will stop pairing after this time.

    config SILENT_TIME
        int "Silent time (seconds)"
        default 60
        help
            Set the silent time in seconds. The device will not advertise during this time.

endmenu
